{
    "plugins": [
      [
        "prismjs",
        {
          "languages": [
            "javascript",
            "css",
            "markup",
            "apex"
          ],
          "plugins": [
            "copy-to-clipboard",
            "autoloader"
          ],
          "theme": "tomorrow",
          "css": true
        }
      ]
    ]
  }